<section class="space-y-6" >
  <h2 class="text-4xl underline underline-offset-8" >Countries</h2>
  <ul class="space-y-1">
    <!-- <li class="border rounded-xl px-3 py-2" routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-blue-400"  >Home Page</li>
    <li class="border rounded-xl px-3 py-2" [routerLink]="['/about-page']" routerLinkActive="bg-blue-400"  >About Page</li>
    <li class="border rounded-xl px-3 py-2" [routerLink]="['/contact-page']" routerLinkActive="bg-blue-400"  >Contact Page</li> -->
    <li class="border rounded-xl px-3 py-2" [routerLink]="['/countries/by-capital']" routerLinkActive="bg-blue-400"  >By capital</li>
    <li class="border rounded-xl px-3 py-2" [routerLink]="['/countries/by-country']" routerLinkActive="bg-blue-400"  >By country</li>
    <li class="border rounded-xl px-3 py-2" [routerLink]="['/countries/by-region']" routerLinkActive="bg-blue-400"  >By region</li>
  </ul>
</section>