<countries-alert-nobody *ngIf="countries.length === 0; else table"  ></countries-alert-nobody>

<ng-template #table >
  <table class="w-full table-auto ">
    <thead>
      <tr class="*:text-start *:bg-slate-300 *:text-white *:px-2 *:py-3 *:font-semibold text-xl" >
        <th class="rounded-l-xl" >Nº</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Population</th>
        <th class="rounded-r-xl" >#</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries; track $index; let i = $index) {
      <tr class="*:font-medium text-lg">
          <td>{{i+1}}</td>
          <td class=" w-20 " >
            <picture class="" >
              <img src="{{country.flags.png}}" alt="" class="size-10 rounded-full" >
            </picture>
          </td>
          <td class="" >{{country.flag}}</td>
          <td>{{country.capital}}</td>
          <td>{{country.population | number }}</td>
          <td>
            <h4 class="text-cyan-300 underline cursor-pointer hover:text-cyan-800" [routerLink]="['/countries/by',country.capital[0]]" >See more</h4>
          </td>
        </tr>
        }
    </tbody>
  </table>
</ng-template>
